# Data Structuring

In [1]:
import pandas as pd

In [2]:
df_messages = pd.read_excel('Software_Developer_Interview_Assignment.xlsx', sheet_name='Messages')

In [3]:
df_messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   body_text   1105 non-null   object
 1   id          1105 non-null   float64
 2   incoming    1105 non-null   bool
 3   ticket_id   1105 non-null   float64
 4   user_id     1105 non-null   float64
 5   created_at  1105 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(3), object(1)
memory usage: 44.4+ KB

In [4]:
df_messages.head()

,body_text,id,incoming,ticket_id,user_id,created_at
0,Cupidatat consectetur magna ex ipsum ut laboru...,4.302252e+10,False,2.0,4.301295e+10,2018-10-08 08:29:18
1,Detected intent: nutrition (confidence: 0.9767...,4.302252e+10,True,2.0,4.301295e+10,2018-10-08 08:29:22
2,Detected intent: pain (confidence: 0.976750003...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01
3,Detected intent: pregnancy_condition (confiden...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01
4,Detected intent: pain (confidence: 0.878675000...,4.302255e+10,False,8.0,4.301295e+10,2018-10-08 10:13:22

In [5]:
# get the number
df_messages.shape

(1105, 6)

In [6]:
df_messages.groupby('ticket_id').count()

           body_text  id  incoming  user_id  created_at
ticket_id
2.0                2   2         2        2           2
8.0                5   5         5        5           5
9.0               10  10        10       10          10
10.0               3   3         3        3           3
11.0               3   3         3        3           3
...              ...  ..       ...      ...         ...
1186.0             2   2         2        2           2
1187.0             2   2         2        2           2
1188.0             2   2         2        2           2
1524.0             4   4         4        4           4
1525.0             3   3         3        3           3

[192 rows x 5 columns]

In [7]:
df_messages.groupby('ticket_id').get_group(2.0)

,body_text,id,incoming,ticket_id,user_id,created_at
0,Cupidatat consectetur magna ex ipsum ut laboru...,4.302252e+10,False,2.0,4.301295e+10,2018-10-08 08:29:18
1,Detected intent: nutrition (confidence: 0.9767...,4.302252e+10,True,2.0,4.301295e+10,2018-10-08 08:29:22

In [8]:
text = 'Detected intent: fetal_movement (confidence: 0.340005435464587) He of his ever scene time power, minstrels dear hill she loved for knew. He pomp were reverie bidding'

In [9]:
'intent' in text

True

In [10]:
text.split(' ')

['Detected',
 'intent:',
 'fetal_movement',
 '(confidence:',
 '0.340005435464587)',
 'He',
 'of',
 'his',
 'ever',
 'scene',
 'time',
 'power,',
 'minstrels',
 'dear',
 'hill',
 'she',
 'loved',
 'for',
 'knew.',
 'He',
 'pomp',
 'were',
 'reverie',
 'bidding']

In [11]:
text.split(' ')[2]

'fetal_movement'

In [12]:
text.split(' ')[5:]

['He',
 'of',
 'his',
 'ever',
 'scene',
 'time',
 'power,',
 'minstrels',
 'dear',
 'hill',
 'she',
 'loved',
 'for',
 'knew.',
 'He',
 'pomp',
 'were',
 'reverie',
 'bidding']

In [13]:
' '.join(text.split(' ')[5:])

'He of his ever scene time power, minstrels dear hill she loved for knew. He pomp were reverie bidding'

In [14]:
from typing import Tuple

In [15]:
def get_intent_and_description(body_text: str) -> Tuple[str, str]:
    intent = ''
    description = ''
    if 'intent' in body_text:
        intent = body_text.split(' ')[2]
        description = ' '.join(body_text.split(' ')[5:])
    else:
        intent = None
        description = body_text
    return intent, description

In [16]:
from typing import Dict, Any
from datetime import datetime

In [17]:
def create_message_object(msg_id: int, msg: str, user_id: int, created: datetime) -> Dict[str, Any]:
    return {
        "id": int(msg_id),
        "message": msg,
        "created": created,
        "updated": created,
        "user_id": int(user_id)
    }

In [18]:
df_messages.head()

,body_text,id,incoming,ticket_id,user_id,created_at
0,Cupidatat consectetur magna ex ipsum ut laboru...,4.302252e+10,False,2.0,4.301295e+10,2018-10-08 08:29:18
1,Detected intent: nutrition (confidence: 0.9767...,4.302252e+10,True,2.0,4.301295e+10,2018-10-08 08:29:22
2,Detected intent: pain (confidence: 0.976750003...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01
3,Detected intent: pregnancy_condition (confiden...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01
4,Detected intent: pain (confidence: 0.878675000...,4.302255e+10,False,8.0,4.301295e+10,2018-10-08 10:13:22

In [19]:
df_messages['intent'] = df_messages.apply(lambda row: get_intent_and_description(row['body_text'])[0], axis=1)

In [20]:
df_messages['description'] = df_messages.apply(lambda row: get_intent_and_description(row['body_text'])[1], axis=1)

In [21]:
df_messages.head()

,body_text,id,incoming,ticket_id,user_id,created_at,intent,description
0,Cupidatat consectetur magna ex ipsum ut laboru...,4.302252e+10,False,2.0,4.301295e+10,2018-10-08 08:29:18,None,Cupidatat consectetur magna ex ipsum ut laboru...
1,Detected intent: nutrition (confidence: 0.9767...,4.302252e+10,True,2.0,4.301295e+10,2018-10-08 08:29:22,nutrition,Officia consequat sunt aute laboris do volupta...
2,Detected intent: pain (confidence: 0.976750003...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01,pain,Ex velit ea eu pariatur. Non commodo cillum ir...
3,Detected intent: pregnancy_condition (confiden...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01,pregnancy_condition,Reprehenderit elit labore officia non pariatur...
4,Detected intent: pain (confidence: 0.878675000...,4.302255e+10,False,8.0,4.301295e+10,2018-10-08 10:13:22,pain,proident enim eiusmod mollit sit laborum commo...

In [22]:
df_messages['message'] = df_messages.apply(lambda row: create_message_object(
    row['id'], row['description'], row['user_id'], row['created_at']), axis=1)

In [23]:
df_messages.head()

,body_text,id,incoming,ticket_id,user_id,created_at,intent,description,message
0,Cupidatat consectetur magna ex ipsum ut laboru...,4.302252e+10,False,2.0,4.301295e+10,2018-10-08 08:29:18,None,Cupidatat consectetur magna ex ipsum ut laboru...,"{'id': 43022520334, 'message': 'Cupidatat cons..."
1,Detected intent: nutrition (confidence: 0.9767...,4.302252e+10,True,2.0,4.301295e+10,2018-10-08 08:29:22,nutrition,Officia consequat sunt aute laboris do volupta...,"{'id': 43022520336, 'message': 'Officia conseq..."
2,Detected intent: pain (confidence: 0.976750003...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01,pain,Ex velit ea eu pariatur. Non commodo cillum ir...,"{'id': 43022524893, 'message': 'Ex velit ea eu..."
3,Detected intent: pregnancy_condition (confiden...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01,pregnancy_condition,Reprehenderit elit labore officia non pariatur...,"{'id': 43022524894, 'message': 'Reprehenderit ..."
4,Detected intent: pain (confidence: 0.878675000...,4.302255e+10,False,8.0,4.301295e+10,2018-10-08 10:13:22,pain,proident enim eiusmod mollit sit laborum commo...,"{'id': 43022545487, 'message': 'proident enim ..."

In [24]:
df_messages.iloc[1].message

{'id': 43022520336,
 'message': 'Officia consequat sunt aute laboris do voluptate consequat ut enim cillum excepteur.',
 'created': Timestamp('2018-10-08 08:29:22'),
 'updated': Timestamp('2018-10-08 08:29:22'),
 'user_id': 43012945551}

In [25]:
obj = df_messages.groupby('ticket_id')

In [26]:
obj.get_group(8.0)

,body_text,id,incoming,ticket_id,user_id,created_at,intent,description,message
2,Detected intent: pain (confidence: 0.976750003...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01,pain,Ex velit ea eu pariatur. Non commodo cillum ir...,"{'id': 43022524893, 'message': 'Ex velit ea eu..."
3,Detected intent: pregnancy_condition (confiden...,4.302252e+10,True,8.0,4.301295e+10,2018-10-08 08:42:01,pregnancy_condition,Reprehenderit elit labore officia non pariatur...,"{'id': 43022524894, 'message': 'Reprehenderit ..."
4,Detected intent: pain (confidence: 0.878675000...,4.302255e+10,False,8.0,4.301295e+10,2018-10-08 10:13:22,pain,proident enim eiusmod mollit sit laborum commo...,"{'id': 43022545487, 'message': 'proident enim ..."
5,Detected intent: pain (confidence: 0.878675000...,4.302292e+10,True,8.0,4.301295e+10,2018-10-09 04:36:07,pain,Sint labore nisi aliquip quis dolore ad do ull...,"{'id': 43022915626, 'message': 'Sint labore ni..."
6,Detected intent: headache (confidence: 0.76780...,4.302296e+10,True,8.0,4.301295e+10,2018-10-09 08:42:26,headache,Cupidatat consectetur magna ex ipsum ut laboru...,"{'id': 43022962852, 'message': 'Cupidatat cons..."

In [27]:
df_messages.tail()

,body_text,id,incoming,ticket_id,user_id,created_at,intent,description,message
1100,Detected intent: nutrition (confidence: 0.3400...,4.305235e+10,True,1524.0,4.302249e+10,2019-01-28 08:43:23,nutrition,"hellas dares. Though nor in not there in, bidd...","{'id': 43052346575, 'message': 'hellas dares. ..."
1101,Detected intent: survey_response (confidence: ...,4.305255e+10,False,1524.0,4.301295e+10,2019-01-29 10:05:56,survey_response,light is thy. Revel none and times neer yet to...,"{'id': 43052554092, 'message': 'light is thy. ..."
1102,Detected intent: baby_condition (confidence: 0...,4.305235e+10,True,1525.0,4.302249e+10,2018-12-03 06:42:15,baby_condition,"heralds deemed superstition, might had sore al...","{'id': 43052346587, 'message': 'heralds deemed..."
1103,Detected intent: breastfeeding (confidence: 0....,4.305235e+10,True,1525.0,4.302249e+10,2019-01-28 04:29:09,breastfeeding,Reprehenderit elit labore officia non pariatur...,"{'id': 43052346594, 'message': 'Reprehenderit ..."
1104,Detected intent: qsurvey_positive (confidence:...,4.305251e+10,False,1525.0,4.301295e+10,2019-01-29 07:44:57,qsurvey_positive,proident enim eiusmod mollit sit laborum commo...,"{'id': 43052512785, 'message': 'proident enim ..."

In [28]:
messages_df_list = []

In [29]:
for group_name, df_group in obj:
    incoming_message = []
    outgoing_message = []
    intents = set()
    for row_index, row in df_group.iterrows():
        
        if row['incoming'] == True:
            incoming_message.append(row['message'])
            intents.add(row['intent'])
        else:
            outgoing_message.append(row['message'])
            intents.add(row['intent'])
            
    messages_df_list.append([group_name, list(intents), incoming_message, outgoing_message])

In [30]:
messages_df_list[0]

[2.0,
 ['nutrition', None],
 [{'id': 43022520336,
   'message': 'Officia consequat sunt aute laboris do voluptate consequat ut enim cillum excepteur.',
   'created': Timestamp('2018-10-08 08:29:22'),
   'updated': Timestamp('2018-10-08 08:29:22'),
   'user_id': 43012945551}],
 [{'id': 43022520334,
   'message': 'Cupidatat consectetur magna ex ipsum ut laborum dolor ad do quis.',
   'created': Timestamp('2018-10-08 08:29:18'),
   'updated': Timestamp('2018-10-08 08:29:18'),
   'user_id': 43012945552}]]

In [31]:
messages_df = pd.DataFrame(messages_df_list, columns=['ticket_id', 'intents', 'incoming_messages', 'outgoing_messages'])

In [32]:
messages_df.head()

,ticket_id,intents,incoming_messages,outgoing_messages
0,2.0,"[nutrition, None]","[{'id': 43022520336, 'message': 'Officia conse...","[{'id': 43022520334, 'message': 'Cupidatat con..."
1,8.0,"[pain, pregnancy_condition, headache]","[{'id': 43022524893, 'message': 'Ex velit ea e...","[{'id': 43022545487, 'message': 'proident enim..."
2,9.0,"[qsurvey_positive, ok_thanks, survey_response,...","[{'id': 43022725673, 'message': 'Ex velit ea e...","[{'id': 43022525662, 'message': 'Officia conse..."
3,10.0,"[swelling, fetal_movement, ok_thanks]","[{'id': 43022549306, 'message': 'nor his of. S...","[{'id': 43022552951, 'message': 'day or her ba..."
4,11.0,"[pain, ok_thanks, qsurvey_positive]","[{'id': 43022944597, 'message': 'heralds deeme...","[{'id': 43022935507, 'message': 'light is thy...."

In [33]:
messages_df.shape

(192, 4)

In [34]:
df_subjects = pd.read_excel('Software_Developer_Interview_Assignment.xlsx', sheet_name='Subjects')

In [35]:
df_subjects.head()

   ticket_id                                            subject
0        2.0  [EM 2547900000] And had in was fabled seraphs ...
1        8.0       [EM 2547911111] No Ideal I Was Breastfeeding
2        9.0           [EM 2547222244] This is a ticket subject
3       10.0  [EM 2572222224] Was artless, been nor come bow...
4       11.0  [EM 2547900000] And had in was fabled seraphs ...

In [36]:
df_subjects.shape

(192, 2)

In [37]:
sbj = '[EM 2547900000] And had in was fabled seraphs nor it beyond'

In [38]:
'[' in sbj

True

In [39]:
sbj.split(' ')

['[EM',
 '2547900000]',
 'And',
 'had',
 'in',
 'was',
 'fabled',
 'seraphs',
 'nor',
 'it',
 'beyond']

In [40]:
sbj.split(' ')[1]

'2547900000]'

In [41]:
sbj.split(' ')[1][:-1]

'2547900000'

In [42]:
sbj.split(' ')[2:]

['And', 'had', 'in', 'was', 'fabled', 'seraphs', 'nor', 'it', 'beyond']

In [43]:
' '.join(sbj.split(' ')[2:])

'And had in was fabled seraphs nor it beyond'

In [44]:
from typing import Tuple

In [45]:
def get_phone_number_and_subject(sbj: str) -> Tuple[str, str]:
    phone_number = ''
    subject = ''
    if '[' in sbj and ']' in sbj:
        phone_number = sbj.split(' ')[1][:-1]
        subject = ' '.join(sbj.split(' ')[2:])
    else:
        phone_number = None
        subject = sbj
    return phone_number, subject

In [46]:
phone_no, sjj = get_phone_number_and_subject(sbj)

In [47]:
phone_no

'2547900000'

In [48]:
sjj

'And had in was fabled seraphs nor it beyond'

In [49]:
results = df_subjects.apply(
    lambda row: get_phone_number_and_subject(row['subject'])[0], axis=1)

In [50]:
results

0      2547900000
1      2547911111
2      2547222244
3      2572222224
4      2547900000
          ...
187    2547911111
188    2547222244
189          None
190          None
191    2547911111
Length: 192, dtype: object

In [51]:
df_subjects.head()

   ticket_id                                            subject
0        2.0  [EM 2547900000] And had in was fabled seraphs ...
1        8.0       [EM 2547911111] No Ideal I Was Breastfeeding
2        9.0           [EM 2547222244] This is a ticket subject
3       10.0  [EM 2572222224] Was artless, been nor come bow...
4       11.0  [EM 2547900000] And had in was fabled seraphs ...

In [52]:
df_subjects['phone_number'] = df_subjects.apply(
    lambda row: get_phone_number_and_subject(row['subject'])[0], axis=1)

In [53]:
df_subjects['sbj'] = df_subjects.apply(
    lambda row: get_phone_number_and_subject(row['subject'])[1], axis=1)

In [54]:
df_subjects.head()

,ticket_id,subject,phone_number,sbj
0,2.0,[EM 2547900000] And had in was fabled seraphs ...,2547900000,And had in was fabled seraphs nor it beyond
1,8.0,[EM 2547911111] No Ideal I Was Breastfeeding,2547911111,No Ideal I Was Breastfeeding
2,9.0,[EM 2547222244] This is a ticket subject,2547222244,This is a ticket subject
3,10.0,"[EM 2572222224] Was artless, been nor come bow...",2572222224,"Was artless, been nor come bower the it"
4,11.0,[EM 2547900000] And had in was fabled seraphs ...,2547900000,And had in was fabled seraphs nor it beyond

In [55]:
df_ticket_sbj_phone = df_subjects[['ticket_id', 'phone_number', 'sbj']]

In [56]:
df_ticket_sbj_phone.head()

   ticket_id phone_number                                          sbj
0        2.0   2547900000  And had in was fabled seraphs nor it beyond
1        8.0   2547911111                 No Ideal I Was Breastfeeding
2        9.0   2547222244                     This is a ticket subject
3       10.0   2572222224      Was artless, been nor come bower the it
4       11.0   2547900000  And had in was fabled seraphs nor it beyond

In [57]:
messages_df.head()

,ticket_id,intents,incoming_messages,outgoing_messages
0,2.0,"[nutrition, None]","[{'id': 43022520336, 'message': 'Officia conse...","[{'id': 43022520334, 'message': 'Cupidatat con..."
1,8.0,"[pain, pregnancy_condition, headache]","[{'id': 43022524893, 'message': 'Ex velit ea e...","[{'id': 43022545487, 'message': 'proident enim..."
2,9.0,"[qsurvey_positive, ok_thanks, survey_response,...","[{'id': 43022725673, 'message': 'Ex velit ea e...","[{'id': 43022525662, 'message': 'Officia conse..."
3,10.0,"[swelling, fetal_movement, ok_thanks]","[{'id': 43022549306, 'message': 'nor his of. S...","[{'id': 43022552951, 'message': 'day or her ba..."
4,11.0,"[pain, ok_thanks, qsurvey_positive]","[{'id': 43022944597, 'message': 'heralds deeme...","[{'id': 43022935507, 'message': 'light is thy...."

In [58]:
df_ticket_sbj_phone.head()

   ticket_id phone_number                                          sbj
0        2.0   2547900000  And had in was fabled seraphs nor it beyond
1        8.0   2547911111                 No Ideal I Was Breastfeeding
2        9.0   2547222244                     This is a ticket subject
3       10.0   2572222224      Was artless, been nor come bower the it
4       11.0   2547900000  And had in was fabled seraphs nor it beyond

In [59]:
merged_df = pd.merge(df_ticket_sbj_phone, messages_df, on=['ticket_id'])

In [60]:
merged_df.head()

,ticket_id,phone_number,sbj,intents,incoming_messages,outgoing_messages
0,2.0,2547900000,And had in was fabled seraphs nor it beyond,"[nutrition, None]","[{'id': 43022520336, 'message': 'Officia conse...","[{'id': 43022520334, 'message': 'Cupidatat con..."
1,8.0,2547911111,No Ideal I Was Breastfeeding,"[pain, pregnancy_condition, headache]","[{'id': 43022524893, 'message': 'Ex velit ea e...","[{'id': 43022545487, 'message': 'proident enim..."
2,9.0,2547222244,This is a ticket subject,"[qsurvey_positive, ok_thanks, survey_response,...","[{'id': 43022725673, 'message': 'Ex velit ea e...","[{'id': 43022525662, 'message': 'Officia conse..."
3,10.0,2572222224,"Was artless, been nor come bower the it","[swelling, fetal_movement, ok_thanks]","[{'id': 43022549306, 'message': 'nor his of. S...","[{'id': 43022552951, 'message': 'day or her ba..."
4,11.0,2547900000,And had in was fabled seraphs nor it beyond,"[pain, ok_thanks, qsurvey_positive]","[{'id': 43022944597, 'message': 'heralds deeme...","[{'id': 43022935507, 'message': 'light is thy...."

In [61]:
merged_df.iloc[1].incoming_messages

[{'id': 43022524893,
  'message': 'Ex velit ea eu pariatur. Non commodo cillum irure consectetur ea occaecat culpa est proident.',
  'created': Timestamp('2018-10-08 08:42:01'),
  'updated': Timestamp('2018-10-08 08:42:01'),
  'user_id': 43012946687},
 {'id': 43022524894,
  'message': 'Reprehenderit elit labore officia non pariatur dolor et officia nulla velit. Excepteur in',
  'created': Timestamp('2018-10-08 08:42:01'),
  'updated': Timestamp('2018-10-08 08:42:01'),
  'user_id': 43012946687},
 {'id': 43022915626,
  'message': 'Sint labore nisi aliquip quis dolore ad do ullamco ea minim sint.',
  'created': Timestamp('2018-10-09 04:36:07'),
  'updated': Timestamp('2018-10-09 04:36:07'),
  'user_id': 43012946686},
 {'id': 43022962852,
  'message': 'Cupidatat consectetur magna ex ipsum ut laborum dolor ad do quis.',
  'created': Timestamp('2018-10-09 08:42:26'),
  'updated': Timestamp('2018-10-09 08:42:26'),
  'user_id': 43012946687}]